#container
{
    width: 100vw;
    height: 100vh;
   
    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    color: white;
}

#top
{
    top: 0;
    left: 0;
    right: 0;

    width: 100vw;
    height: 100vh;
   
    position: absolute;

    background-color: #525252;
    background-image: url(../imagens/motherboard-internal-4k-k7-1920x1080.jpg);

    opacity: 99%;

    background-size: cover;
    background-attachment: fixed;

    isolation: isolate;
}

#top::after
{
    content: '';

    width: 100vw;
    height: 100vh;
   
    position: absolute;

    z-index: 1;
    inset: 0;
    background: #313131;
    opacity: .9;
}

#middle
{
    top: 100vh;
    left: 0;
    right: 0;

    width: 100vw;
    height: 100vh;
   
    position: absolute;

    background-color: #313131;
    background-size: cover;
    background-attachment: fixed;

    /* padding: 5vh; */
}

#middle_content
{
    padding: 5vh;

    display: flex;
    flex-direction: row;

    gap: 5vh;
}

ul
{
    background-color: #414141;
    border-radius: 10vh 0.5vh 0.5vh 0.5vh;

    width: 27.5vw;
    height: 90vh;

    display: flex;
    flex-direction: column;

    list-style: none;
    margin: 0;
    padding: 0;

    transition: all 1s ease;
}

ul:hover
{
    transform: scale(0.90);
    transition: all 1s ease;
}

li
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

li.title
{
    background-color: white;
    border-radius: 10vh 1vh 10vh 0vh;
    color: #313131;
    font-size: 5vh;
    font-weight: bold;

    height: 35vh;
    /* width: 100vw; */
}

.placa_de_video
{
    /* background-image: url(../imagens/asus-rog-republic-of-gamers-placa-de-video-geforce-rtx-papel-de-parede-1920x1200_6.jpg);   */
    background-size: cover;
    background-attachment: fixed;
}

li.content
{
    font-size: 2.5vh;
}

#bottom
{
    top: 200vh;
    left: 0;
    right: 0;

    width: 100vw;
    height: 10vh;
   
    position: absolute;

    background-color: white;
    color: #313131;

    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: bold;

    /* padding: 5vh; */
}

/* #navbar
{
    width: 100vw;
    height: 7.5vh;

    position: absolute;

    left: 0;
    top: 0;
    right: 0;

    background-color: #414141;
} */